{% extends "base.html" %}
    {% block title %}Hans{% endblock %}
    {% block content %}
        <div class="container">
            <img src='http://placekitten.com/800/300' id="banner">
            <div class="row">
                <div class="span9 offset1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel elit sed purus consectetur facilisis et quis lorem. Aliquam erat volutpat. Quisque dui enim, pretium vel porta quis, gravida ut nisi. Maecenas molestie, risus et sagittis semper, nulla eros aliquam libero, vitae malesuada ligula lectus eu mauris. Sed elementum, erat et lobortis fringilla, ipsum felis viverra arcu, vitae condimentum eros eros quis risus. In ultricies magna quis odio varius non mollis lorem varius. Mauris ut neque felis. Curabitur auctor erat at nisl gravida non venenatis ante imperdiet. Etiam malesuada luctus nulla, ac rhoncus mi scelerisque at. Nullam a justo id lacus blandit mattis in ut mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                </div>

            </div>

        </div>

    </div>
    {% endblock %}
